<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <form class="form" method="POST">
        <div class="form-group">
          <label for="NameTextField">Task title</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the Name of your task"
            name="Name"
            required
          />
        </div>

        <div class="form-group">
          <label for="PriorityTextField">Priority</label>
          <input
            type="text"
            class="form-control"
            id="PriorityTextField"
            placeholder="Enter your priority"
            name="Priority"
            required
          />
        </div>

        <div class="form-group">
          <label for="NotesTextField">Notes</label>
          <input
            type="text"
            class="form-control"
            id="NotesTextField"
            placeholder="Enter your additional Notes"
            name="Notes"
            required
          />
        </div>

        <button class="btn btn-Light" type="submit">Submit</button>
        <a href="/bio_Worklist" class="btn btn-Dark">Cancel</a>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
