<% include ../partials/header.ejs %> <% include ../partials/main_nav.ejs %>
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><% title %></h1>
      <a href="/bio_Worklist/add" class="btn btn-primary" role="button"
        ><i class="fas fa-plus-circle"></i> Add Task</a
      >
      <br />
      <table class="table table-bordered table-striped table-hover">
        <tr class="d-flex">
          <th class="text-center col-2">Name</th>
          <th class="text-center col-2">Priority</th>
          <th class="text-center col-8">Notes</th>
        </tr>
        <% for (let count = 0; count < Worklistlist.length; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%= Worklistlist[count].Name %></td>
          <td class="text-center col-2"><%= Worklistlist[count].Priority %></td>
          <td class="text-center col-8"><%= Worklistlist[count].Notes %></td>
          <td class="text-center col-1">
            <a
              href="/bio_Worklist/edit/<%=Worklistlist[count]._id %>"
              class="btn btn-success"
              >Edit</a
            >
          </td>
          <td class="text-center col-1">
            <a
              href="/bio_Worklist/delete/<%= Worklistlist[count]._id %>"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>
<% include ../partials/bottom_nav.ejs %> <% include ../partials/footer.ejs %>
